doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Travel Around World
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/landing-page.css', rel='stylesheet')
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

  body
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top.topnav(role='navigation')
      .container.topnav
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') Home
            li
              a(href='/logout') Logout
            li
              a(href='/profile') profile
        // /.navbar-collapse
      // /.container

    // Main Header
    a(name='main-query' id="main-frame")

    .ad-header

      h1 Search with more details!

    .intro-message
      .row.omb_row-sm-offset-3
        .col-xs-12.col-sm-6
          form.omb_loginForm(action='query', autocomplete='off', method='GET')
            .input-group
              span.input-group-addon
                i.fa.fa-map-marker
              input.form-control(type='text', name='location', placeholder='Your location')
            span.help-block
            .input-group
              span.input-group-addon
                i.fa.fa-clock-o
              input.form-control(type='text', name='duration', placeholder='Duration(days)')
            span.help-block
            .input-group
              span.input-group-addon
                i.fa.fa-calendar
              input.form-control(type='text', name='month', placeholder='Travelling Month')
            span.help-block
            .input-group
              span.input-group-addon
                i.fa.fa-dollar
              input.form-control(type='text', name='budget', placeholder='Budget/person(dollors)')
            span.help-block
            .input-group
              span.input-group-addon
                i.fa.fa-shopping-cart
              input.form-control(type='text', name='spcNeeds', placeholder='Special Needs, for shop:1,service:2,inexpensive accom:3')
            span.help-block
            .input-group
              span.input-group-addon
                i.fa.fa-sun-o
              input.form-control(type='text', name='temperature', placeholder='preferable temperature(centigrade)')
            span.help-block
            .input-group
              span.input-group-addon
                i.fa.fa-globe
              input.form-control(type='text', name='country', placeholder='destination country')
            br
            button.btn.btn-lg.btn-primary(type='submit') Search
          


    footer
      .container
        .row
          .col-lg-12
            ul.list-inline
              li
                p Contact: Group 9
              //- li.footer-menu-divider
              //- li
              //-   a(href='#about') About
              //- li.footer-menu-divider
              //- li
              //-   a(href='#services') Services
              //- li.footer-menu-divider
              //- li
              //-   a(href='#contact') Contact
            p.copyright.text-muted.small Copyright © Group 9 - 2017. All Rights Reserved Authors: Xiaonan YANG, Qin Dong, Mingxuan Sun, Haiming Zhang
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    script(src='js/index.js')
    .modal