doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Travel Around World
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/ResultTable.css', rel='stylesheet')
    link(href='css/landing-page.css', rel='stylesheet')
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    link(type='text/css', rel='stylesheet', href='css/common.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    h1= data
    script.
      var tr;
      for (var i = 0; i < data.length; i++) {
      tr = $('<tr/>');
      tr.append("<td>" + data[i] + "</td>");
      $('table').append(tr);
      }

    //- script.
    //-   $(function() {
    //-   jsondata= data
    //-   $.getJSON(jsondata)
    //-   .success(function(data) {
    //-   var tr;
    //-   for (var i = 0; i < data.length; i++) {
    //-   tr = $('<tr/>');
    //-   tr.append("<td>" + data[i][0] + "</td>");
    //-   tr.append("<td>" + data[i][1] + "</td>");
    //-   $('table').append(tr);
    //-   }
    //-   })
    //-   .error(function(e) { console.error(e); })
    //-   });


  body
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top.topnav(role='navigation')
      .container.topnav
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') Home
            li
              a(href='/login') Login
            li
              a(href='/register') Register
        // /.navbar-collapse
      // /.container
      // Main Header

    .ad-header

      h1 Search with more details!

    .intro-message
      .row.omb_row-sm-offset-3
        .col-xs-12.col-sm-6
        .result-display
          div(align='center')
            h2(id='restitle')
            h4(id='recnum')
          div(align='center')

            //- table
            //-   tbody
            //-     tr
            //-       th cityName
            
            table
              tbody
                tr
                  th cityName



    footer
      .container
        .row
          .col-lg-12
            ul.list-inline
              li
                p Contact: Group 9
              //- li.footer-menu-divider
              //- li
              //-   a(href='#about') About
              //- li.footer-menu-divider
              //- li
              //-   a(href='#services') Services
              //- li.footer-menu-divider
              //- li
              //-   a(href='#contact') Contact
            p.copyright.text-muted.small Copyright © Group 9 - 2017. All Rights Reserved Authors: Xiaonan YANG, Qin Dong, Mingxuan Sun, Haiming Zhang
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    script(src='js/index.js')
    .modal